<style type="text/css">
body{
	text-decoration: none;
}
#sales{
	background-color: green;
	color: black;
	}
#purchase{
	background-color: blue;
	color: white;
	}
#hr{
	background-color:  yellow;
	color: green;
	}
table{
	background-color: green;
	color: black;
}
#mainmenu{
	background-color: #A9A9A9;
	color: white !important;
}
.forms{
	background-color: #A9A9A9;
	
}

</style>
		
	

