<!DOCTYPE html>
<html lang="en">
<head>
  <title>HOTEL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body >

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  {% load static%}
  <img class="navbar-brand" src="{% static 'app1/images/logo.jpg' %}" 
  alt="NO IMAGE" width="250px" height="80px">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/rooms/">ROOMS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Customers</a>
    </li>
    
  </ul>
</nav>

<div class="container-fluid" style="margin-top:80px">
  
</div>

</body>
</html>


