<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>delete instructor</h1>
	<h2> {{ msg }}</h2>
	<form method="post">
		{% csrf_token %}
		Name: <input type="text" name="name" value="{{ inst_data.name }}"><br>
		email: <input type="email" name="email" value="{{ inst_data.email }}"><br>
		phone:<input type="text" name="cell" value="{{ inst_data.mobile }}"><br>
		info:<input type="textarea" name="extratext" value="{{ inst_data.info }}"><br>
		Do you want to delete the record?<select name="yesno">
				<option value="yes">YES</option>
				<option value="no">NO</option>
		</select>
		<input type="submit" name="" value="Submit">
	</form>
</body>
</html>